/* css/styles.css */
:root {
    --color-bg: #1F2937;
    --color-sec: #2D4B34;
    --color-ac: #5C8353;
    --color-light: #F4F6F0;
    --color-soft: #86A789;
    --color-tx: #FFFFFF;
}

/* Variables para el Tema Claro */
.light-theme {
    --color-bg: #F4F6F0;
    --color-sec: #D5E0D5;
    --color-ac: #4A6B42;
    --color-light: #1F2937;
    --color-soft: #5C8353;
    --color-tx: #111827;
}

/* Ocultar barra de desplazamiento para estética app nativa */
::-webkit-scrollbar { display: none; }
* { -ms-overflow-style: none; scrollbar-width: none; }

.psychedelic-gradient {
    background: linear-gradient(-45deg, var(--color-sec), var(--color-ac), var(--color-bg), var(--color-soft));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.glass-panel {
    background: rgba(31, 41, 55, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.light-theme .glass-panel {
    background: rgba(244, 246, 240, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Estilos del reproductor mini */
.mini-player {
    position: fixed !important;
    bottom: 90px;
    right: 20px;
    width: 250px !important;
    aspect-ratio: 16/9;
    z-index: 40;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
    .mini-player { bottom: 20px; right: 20px; width: 350px !important; }
}

/* Estado Minimizado del Mini Player */
.mini-player.is-minimized {
    height: 70px !important;
    aspect-ratio: auto !important;
    border-radius: 2rem !important;
}
.is-minimized #yt-mini-controls { display: flex !important; }
.is-minimized #yt-iframe-wrapper { display: none !important; }
.mini-player #btn-minimize-yt { display: block !important; }